/* geral */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
   background:#5a4e3c;
}

button {
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 8px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: rgb(2, 2, 2);
  color: white;
}

button:hover > i {
  color: white;
}

button i {
  font-weight: bold;
  pointer-events: none;
}

input,
select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}
input::placeholder {
  font-size: 12px;
  padding: 5px;
}
.hide {
  display: none;
}

/* todo header */
.todo-container {
  max-width: 500px;
  height: auto;
  margin: 45px auto;
  background-color: #e9ebbf;
  padding: 30px;
  border-radius: 5px;
}

.todo-container header {
  text-align: center;
  padding: 0 5px 5px;
  border-bottom: 1px solid black;
}

/* todo form */

#todo-form,
#edit-form {
  padding: 15px;
  border-bottom: 1px solid black;
}

#todo-form p,
#edit-form p {
  margin-bottom: 10px;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 7px;
}

#cancel-edit-btn {
  margin-top: 10px;
}

/* todo toolbar */

#toolbar {
  padding: 10px;
  border-bottom: 1px solid #000000;
  display: flex;
}

#toolbar h4 {
  margin-bottom: 10px;
}

#search {
  padding-right: 1px solid #000000;
  margin-right: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 5px;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter-select {
  flex: 1;
}

/* todo-list  */

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s;
}

.todo h3 {
  flex: 1;
  font-size: 15px;
  margin: 15px;
}

.todo button {
  margin: 2px;
}

.done {
  background: #5a4e3c;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
}

.done h3 {
  color: rgb(255, 255, 255);
  text-decoration: line-through;
  font-style: italic;
}

@media(max-width:768px){
  .todo-container{
    max-width: 90%;
  }
}